.contact-main {

	.entry-title {
		background: white;
		border-top-left-radius: 15px;
		border-top-right-radius: 15px;
		border-bottom: 0.4em solid #E5E5E5;
		padding: 1% 1% 0%;
		padding-left: 2.5%;
	}

}