/*--------------------------------------------------------------
## Front Page
--------------------------------------------------------------*/
@import "front-page";

/*--------------------------------------------------------------
## Footer
--------------------------------------------------------------*/
@import "footer";

/*--------------------------------------------------------------
## Header
--------------------------------------------------------------*/
@import "header";

/*--------------------------------------------------------------
## News
--------------------------------------------------------------*/
@import "news";

/*--------------------------------------------------------------
## Resources
--------------------------------------------------------------*/
@import "resources";

/*--------------------------------------------------------------
## Contact
--------------------------------------------------------------*/
@import "contact";

/*--------------------------------------------------------------
## Post
--------------------------------------------------------------*/
@import "post";


/*--------------------------------------------------------------
## Custom
--------------------------------------------------------------*/
#content {
	min-height: 60vh;
}

.site-header {
	min-height: 25vh;
}

.site-main {
	margin: auto 5%;
}

.entry-content {
	background: white;
	padding: 1em;
	border-radius: 10px;
	margin-top: 0.75em;
}

.excerpt-link {
	color: $blue;
	text-transform: uppercase;
	font-weight: 700;
}

.forums-main {
	.entry-title {
		background: white;
		border-top-left-radius: 15px;
		border-top-right-radius: 15px;
		border-bottom: 0.4em solid #E5E5E5;
		padding: 1% 1% 0%;
		padding-left: 2.5%;
	}
}

.search-main {
	.hentry {
		p {
			background: white;
			padding: 1rem;
			border-radius: 10px;
		}
	}
}