#accordion {
	width: 95%;
	margin: auto auto;

	ul {
		list-style: none;
		text-align: center;
		padding: 0;
		margin: 0;
		font-size: 125%;
	}
}

#front-page-info {
	margin-top: -1em;
}

#front-page-updates {
	li {
		margin: 0.75em;
	}
}