.entry-meta {
	background: #E5E5E5;
	margin-top: -1.4rem;
	padding: 1%;
	padding-left: 2.5%;
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
}

.entry-title {
	padding: 1%;
	padding-left: 2.5%;
	background: #FBDF25;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
}

@media screen and (min-width: 800px) {
	.news-main {
		padding: 1% 20% 1% 20%;
	}
}

@media screen and (max-width: 800px) {
	.news-main {
		padding: 2.5%;
	}
}