.title {
	background: white;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	border-bottom: 0.4em solid #E5E5E5;
	padding: 1% 1% 0%;
	padding-left: 2.5%;
}

/* Tabs container */
.r-tabs {
	position: relative;
	background-color: $yellow;
	border: 1em solid $yellow;
	border-radius: 15px;

	li {
		font-size: 1.2rem;
	}
}

/* Tab element */
.r-tabs .r-tabs-nav .r-tabs-tab {
	position: relative;
	background-color: $yellow;
}

/* Tab anchor */
.r-tabs .r-tabs-nav .r-tabs-anchor {
	display: inline-block;
	padding: 0.8rem 2rem;
	margin-top: 0.2rem;
	font-size: 1.2rem;
	text-decoration: none;
	font-weight: 700;
	color: black;
}

/* Disabled tab */
.r-tabs .r-tabs-nav .r-tabs-state-disabled {
	opacity: 0.5;
}

/* Active state tab anchor */
.r-tabs .r-tabs-nav .r-tabs-state-active .r-tabs-anchor {
	color: black;
	background-color: white;
	border-top-right-radius: 15px;
	border-top-left-radius: 15px;
}

/* Tab panel */
.r-tabs .r-tabs-panel {
	background-color: white;
	border-bottom-right-radius: 15px;
	border-bottom-left-radius: 15px;
}

/* Accordion anchor */
.r-tabs .r-tabs-accordion-title .r-tabs-anchor {
	display: block;
	padding: 1rem;
	font-weight: 700;
	font-size: 1.2rem;
	color: black;
	background-color: $yellow;
	border-top-right-radius: 0px;
	border-top-left-radius: 0px;
}

/* Active accordion anchor */
.r-tabs .r-tabs-accordion-title.r-tabs-state-active .r-tabs-anchor {
	background-color: white;
	color: black;
}

/* Disabled accordion button */
.r-tabs .r-tabs-accordion-title.r-tabs-state-disabled {
	opacity: 0.5;
}